@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/GothamBook.ttf');
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/GothamBold.ttf');
}

@font-face {
  font-family: 'Gotham Light';
  src: url('../fonts/GothamLight.ttf');
}